page-login {
    .container {
    //padding-top: 15em;
    //padding-left: 10em;
     //min-height: 768px;
     //height: 100%;
     //max-width: 100%;
    
     //min-width: 530px;

     padding-top: 5em;
     min-height: 768px;
     height: 100%;
     max-width: 100%;
     margin: 0;
     text-align: center;
     background-repeat: no-repeat;
     
     
    background-image: url(../assets/images/beer2.jpg);
     }
     .login {
         text-align: left;
         margin: 0 auto;
         border-style: none;
         max-width: 50%;
         height: auto;
         text-align: center;
         border-radius: 1em;
         width: 300px;
         padding: 0em 1em 1em 1em;
   
    
    background-color: rgba(255, 255, 255, 0.8);
    
         
     }
}
