
page-login {
	.form-container {
		padding-top:5em;
		height:100%;
		max-width:100%;
		margin:0;
		text-align:center;
		background-repeat:no-repeat;
		@media screen and (min-width:768px) {
			background-image:url(../assets/images/beerBar.jpg);
			max-height:94.6em;
		}
		@media screen and (max-width:768px) {
			background-image:url(../assets/images/beerBar_medium.jpg);
			max-height:94.6em;
		}
	}
	.login {
		text-align:left;
		margin:0 auto;
		border-style:none;
		max-width:50%;
		height:auto;
		text-align:center;
		border-radius:1em;
		width:22em;
		padding:0em 1em 1em 1em;
		@media screen and (max-width:768px) {
			max-width:90%;
		}
		p.error {
			color:red;
		}

    ion-input {
      border-bottom: $border-grey;
      input::-webkit-input-placeholder {
        color: $grey;
      }
    }

		background-color: rgba(255,255,255,0.8);
	}
}
