<!--
  Generated template for the Front page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="grey-dark">
    <button ion-button menuToggle right>
      <ion-icon name="menu" color="secondary"></ion-icon>
    </button>
    <object type="image/svg+xml" data="assets/images/beerissimo_logo.svg" class="title-image" height="60">
      <img src="assets/images/beerissimo_logo.png" class="title-image" />
    </object>
    <p class="logged-in-as">Logged in as {{this.myUserName}}</p>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="loading-gif" [hidden]="mediaFiles">
    <ion-spinner icon="spiral"></ion-spinner>
  </div>
  <ion-item class="container" *ngFor="let file of mediaFiles">
    <div class="info">
      <h2 class="username">{{file.username}}</h2>
      <p class="time-added">{{(file.time_added | date: 'parse')}}</p>
      <h2 class="title">{{file.title}}</h2>
      <img *ngIf="file.media_type === 'image'" [alt]="file.title" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + (file.filename | thumbnail: 'medium')"
        (click)="openPost(file.file_id)">
      <p *ngIf="file.media_type === 'audio'">
        <a (click)="openPost(file.file_id)">Audio <ion-icon name="musical-notes"></ion-icon></a>
      </p>
      <p *ngIf="file.media_type === 'video'">
        <a (click)="openPost(file.file_id)">Video <ion-icon name="videocam"></ion-icon></a>
      </p>

    </div>


  </ion-item>


</ion-content>
