@import 'theme/variables.scss';

page-mediaplayer {


    #username {
      font-weight: bold;
      text-align: left;
    }

    #title{
      color: $highlight-blue;
    }

    img {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
}
