@import 'theme/variables.scss';

page-mediaplayer {

    .post-content {

    }

    #username {
      font-weight: bold;
    }

    #title{
      color: $highlight-blue;
    }

    img {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
}
