ion-list {
    margin-bottom: 0!important;
    input[type="file"] {
    display: none;
    
  }

  ion-item {
      text-align: center;

  }
  
}
.scroll-content {
      margin: 0;
      overflow-y: auto !important;
  }